@font-face {
  font-family: 'type1';
  src: url(Scandia-Bold.ttf);
}

@font-face {
  font-family: 'type2';
  src: url(Scandia-Light.ttf);
}

@font-face {
  font-family: 'type3';
  src: url(Scandia-Regular.ttf);
}


body {
    margin: 0;
    font-family: Helvetica, sans-serif;
  }
  
  a {
    color: #000;
  }
  
  
  .header {
    background-color: black;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: black;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid black;
    text-decoration: none;
    color: white;
    font-family: type1;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    color: orangered; 
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color: orangered;
    font-family: type1;
  }

  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .tit{
    font-size: 1.8em;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  color: white;
  font-family: type1;
  }

  .lix{
    font-size: 2.8em;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  color: white;
  font-family: type1;
  }
  .log{
    margin-top: 2%;
    margin-left: 38.5%;
    width: 20%;
    height: auto;
    display: flex;
  }

  .tit1{
    font-size: 2.5em;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  color: orangered;
  font-family: type1;
  }

  
  @media (min-width: 820px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    
  }
  @media (max-width: 820px) {
    .tit {
      font-size: 1.2em;
      line-height: 1.2;
      text-align: center;
      margin-left: 12%;
    }
    .tit1 {
      font-size: 2.2em;
      line-height: 1.2;
      text-align: center;
      margin-left: 12%;
    }
    .lix {
      font-size: 1.2em;
      line-height: 1.2;
      text-align: center;
      margin-left: 12%;
      margin-top: 7%;
    }
    .log{
      margin-top: 5%;
      margin-left: 27%;
      width: 50%;
      height: auto;
      display: block;
    }
  }
  
  


  section {
    padding: 80px;
  }
  .hero {
    display: flex;
    flex-direction: row;
    width: 65%;
    margin: auto;
  }
  .hero img {
    order: 1;
    margin-bottom: 40px;
    width: 20%;
    height: 20%;
   }
  div {
    margin-right: 40px;
    padding-top: 0;
  }
  .main {
    color: orangered;
    font-size: 3em;
    padding-bottom: 25px;
  }
  p {
    color: white;
    font-size: 1.2em;
    margin-bottom: 70px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
  .cta {
    color: white;
    background: linear-gradient(#8E86B5, #ACAEED);
    padding: 20px 30px;
    font-size: 1.1em;
    border-radius: 50px;
  }
  .cta:hover {
    text-decoration: none;
    background: linear-gradient(#696484, #8788BA);
    color: black;
  }

  
  @media screen and (max-width: 820px) {
    .hero {
       flex-direction: column;
       text-align: center;
       justify-content: center;
       padding: 30px;
       padding: 10px;
       width: 85%;
       margin-top: 10%;
      }
    .hero img {
       order: 1;
       margin-bottom: 40px;
       width: 100%;
    height: auto;
      }
    .hero div {
       order: 2;
       height: auto;
       margin-bottom: 15px;
       margin-right: 0;
      }
    .home p {
       padding: 0 50px 0 50px;
       margin-bottom: 50px;
      }
  }
  @media screen and (max-width: 820px) {
    .hero h1 {
       font-size: 2em;
      }
    .hero p {
       font-size: 1.2em;
      }
  }


 
  .gallery {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 5%;
  }
  .image {
    width: 100px;
    flex: 1 0 auto;
  }
  .featured-image {
    flex: 0 0 100%;
  }




  .footer-bottom {
    background: #000;
  
    width: 100%;
  
    padding: 20px;
  
    padding-bottom: 40px;
  
    text-align: center;
  }
  
  .footer-bottom p {
    float: left;
  
    font-size: 14px;
  
    word-spacing: 2px;
  }
  
  .footer-bottom p a {
    color: #ccc;
  
    font-size: 16px;
  
    text-decoration: none;
  }
  
  .footer-bottom span {
    text-transform: uppercase;
  }
  
  .footer-menu {
    float: right;
  }
  
  .footer-menu ul {
    display: flex;
  }
  
  .footer-menu ul li {
    padding-right: 10px;
    
    display: block;
  }
  
  .footer-menu ul li a {
    color: #cfd2d6;

    text-decoration: none;
  }
  
  .footer-menu ul li a:hover {
    color: orangered;
  }
  
  @media (max-width: 820px) {
    .footer-bottom p {
      float: none;
    }
  
    .footer-menu ul {
      display: flex;
  
      margin-top: 10px;
  
      margin-bottom: 20px;
  
      text-align: center;
    }
  }
  

  .service-container {
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
  }
  
  .service-container .service-box {
    width: 450px;
    text-align: center;
    padding: 0 0 30px 20px;
    position: relative;
  }
  
  .service-container .service-box::before {
    content: "";
    border: 3px dotted #00cccc;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right: none;
    position: absolute;
    border-radius: 30px 0 0 30px;
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    -ms-border-radius: 30px 0 0 30px;
    -o-border-radius: 30px 0 0 30px;
    width: 35%;
    top: 90px;
    bottom: 7px;
    left: 0;
  }
  
  .service-container .service-icon {
    font-size: 45px;
    line-height: 95px;
    background-color: #fff;
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 5px 5px 10px #0000004d;
    position: relative;
    color: #00cccc;
  }
  
  .service-container .service-content {
    background-color: #fff;
    padding: 20px 10px;
    border: 3px solid #00cccc;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 5px 5px 10px #0000004d;
  }
  
  .service-container .service-content::before,
  .service-container .service-content::after {
    content: "";
    position: absolute;
    background: #00cccc;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 86px;
    left: 35%;
  }
  
  .service-container .service-content::after {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: auto;
    bottom: 4px;
  }
  
  .service-container .service-title a {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px;
    text-decoration: none;
    color: #00cccc;
  }
  
  .service-container p {
    color: #0e0e0e;
    font-size: 22px;
    line-height: 30px;
  }
  
  .service-container .service-box.red,
  .service-container .service-box.red .service-title a,
  .service-container .service-box.red .service-icon {
    color: #F70437;
  }
  
  .service-container .service-box.red::before,
  .service-container .service-box.red .service-icon,
  .service-container .service-box.red .service-content {
    border-color: #F70437;
  }
  
  .service-container .service-box.red .service-content::after,
  .service-container .service-box.red .service-content::before {
    background-color: #F70437;
  }
  
  @media(max-width:1120px) {
    .service-container {
      flex-direction: column;
    }
  
    .service-container .service-box {
      width: 85%;
      margin: auto;
    }
  }





  